  

        /* #2 #colorful #palette is:
          * Background: #F5F5F5 (GREY 100)
          * Primary Text: black

          * Primary color: #3F51B5 (INDIGO)
          * Primary color_text : white
          * Accent color: #CDDC39 (LIME)
          * Accent color_text: black
          */

        /*global styles */
        * {
            /* #2 #font #faces */
            font-family: 'Arial', sans-serif;
            margin: 0px;
            padding: 0px;
        }
        body {
            /* #2 #colorful #background */
            background-color: #F5F5F5;
        }
        
        
        /*app bar styles */
        h1 {
            /* #2 #colourful #app-bar */
            background-color: #3F51B5;
            color: white;
            height: 24px;
            line-height: 24px;
            display: flex;
            margin: auto;
            padding: 16px;
            display: flex;
            
        }
        /*channels list styles */
        
        #messages-box{
            height:83%;
            overflow: auto;

        }
        #list{
            background-color: white;            
            height:83%;
            overflow: auto;
            
        }
        /*style of lists */
        li{
            list-style-type: none;
            padding: 16px;
            height: 16px;
            border-bottom: 1px solid #F5F5F5;
        }
        /*border and color of selected channel */
        #list li.selected{
            color: #3F51B5;
            border-left: 4px solid #3F51B5;
            
            
        }
        /*tab bar styles */
        
        #tab-buttons{
            background-color: white;
            
        }
        /*tab buttons have 
        background white
        text aligned to center
        text color is black
        and no border */

        #tab-buttons{
            display: flex;
            flex-flow: row nowrap;
        }
        #tab-buttons button{
            background-color: white;
            text-align: center;
            color: black;
            font-size: 13px;
            border: none;
            width: 33%;
            height: 72px;
            padding: 16px;
            margin: auto;   
        }
           

        #chat-bar{
            background-color: white;
            position: absolute;
            color: black;
            bottom: 0%;
            border: none;
            width: 100%;
            height: 72px;
            margin: auto;
            
        }
        #emojis-button{
            display: flex;
            align-self: flex-start;
            padding: 16px;
            background-color: white;
            border: none;
        }
        #chat-bar #emojis{
            position: absolute;
            height: 250px;
            width: 250px;
            bottom: 60px;
            left: 16px;
            overflow: auto;
            background-color: white;
            border: 1px solid black;
            font-size: 28px;
            text-align: left;
            padding: 16px 16px 16px 32px;
            
        }
        /*color and border of selected button(NEW) */
        #tab-buttons button.selected {
            border-bottom: 4px solid #3F51B5;
            color: #3F51B5;
        }
        /*messages styles */

        a, button, strong{
            
            /* #2 #font capital #letters */
            text-transform: uppercase;
        }
        .message p, .own-message p {
            /* #2 #colorful #channelandchat */
            background-color: white;
            padding: 16px;
            position: relative;
            
        }
        
        .message h3, .own-message h3 {
            /* #2 #font #metadata is now medium */
            font-size: medium;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        .message em, .own-message em {
            /* #2 #font #remaining overrides the default italic appearance of em elements*/
            font-size: larger;
            font-style: normal;
        }
        /*color of linked locations */
        .message a, .own-message a{
            color: black;
        }
        .message {
            width: 80%;
            margin-bottom: 8px;
            margin-left: 2.5%;
        }
        /*own message block */
        .own-message {
            width: 80%;
            margin-bottom: 8px;
            margin-left: 17.5%;
        }
        /*button {*/
            /* #2 #colourful #plusfive */
            /*background-color: #CDDC39;*/
            /*color: black;*/
            /* #2 #font capital #letters */
            /*text-transform: uppercase;
        }*/
        .message button, .own-message button {
            /* #2 #colourful #plusfive */
            background-color: #CDDC39;
            color: black;
        }
        /*to align channel part to left of window */
        #ChannelsPart{
            position: absolute;
            height: 100%;
            width: 40%;
            right: 60%;
        }
        /*to align chat part to right of window */
        #ChatPart{
            position: absolute;
            height: 100%;
            width: 60%;
            left: 40%;
            
            
        }
        #ChannelsPart h1 img{
            
            align-self: center;
        }
        #ChatPart h1 img{
            position: absolute;
            right:16px;
        }
        #list li span{
            position: absolute;
            right: 0%;
        }
        .message p button, .own-message p button{
            position: absolute;
            right: 8px;
            bottom: 8px;
        }

     
        
        
        

        
       
        

        

        
        